/* Empty. Add your own CSS if you like */

#image {
  max-width: 300px;
  max-height: 300px;
  /*display: block;*/
  margin: 0 auto;

}

#map {
  width: 100%;
  min-width: 300px;
  min-height: 250px;
  /*position: absolute;*/
  /*z-index: 1;*/
  /*bottom: 0px;*/
  bottom: 5px;

}

#over_map {
  width: 100%;
  /*position: absolute;*/
  /*z-index: 2;*/
  top: 10px;
  background-color: transparent;
}
